.book-list {
	margin: 30px 0;
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	gap: 40px;
	flex-wrap: wrap;
}

.book-item {
	pointer-events: 'none';
	height: 300px;
	border: 1px #000 solid;
	padding: 10px 20px;
	border-radius: 12px;

	transform: scale(1);
	transition: transform 0.3s ease-in-out;
}

.book-item:hover {
	cursor: pointer;
	transform: scale(1.1);
}

.book-item_category {
	position: absolute;
	top: 8px;
	right: 15px;
	padding: 5px 10px;
	color: #fff;
	border-radius: 8px;
}

.hard {
	background-color: red;
}
.middle {
	background-color: rgb(255, 183, 0);
}
.easy {
	background-color: green;
}

.book-item_img {
	width: 100%;
	border-radius: 12px;
}

span {
	font-weight: bold;
}

.book-select_exit {
	position: relative;
	top: 15px;
	left: -100px;
	font-size: 25px;
	font-weight: bold;
	padding: 5px 15px;
}

.book-select_title {
	font-size: 65px;
	font-weight: bold;
	position: relative;
	top: -47px;
}

.book-select_body {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	gap: 50px;
}

.book-select_left {
	width: 600px;
	max-height: 476px;
	overflow-y: auto;
}

.book-select_content {
	font-size: 25px;
	margin-bottom: 10px;
}

.book-select_right {
	width: 500px;
	height: 450px;
	border: 1px #000 solid;
}

.book-select_addBtn {
	margin-top: 20px;
}